<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AxelGR</title>
</head>
<body>
    <div class="container">

        <form action="/agregar" method="POST">
    <input type="number" name="id" placeholder="ID" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="number" name="edad" placeholder="Edad" required>
    <button type="submit">Agregar Usuario</button>
</form>

<table>
    {% for usuarioo in usuarios %}
    <tr>
        <td>{{ usuarioo.nombre }}</td>
        <td>
            <a href="{{ url_for('eliminar', id=usuarioo.id) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
    </div>
</body>
</html>